certifi==2022.12.7
cycler==0.10.0
future==0.18.2
iso8601==0.1.13
kiwisolver==1.2.0
matplotlib==3.3.2
numpy==1.22.0
pyparsing==2.4.7
pyserial==3.4
python-dateutil==2.8.1
PyYAML==5.4
serial==0.0.97
six==1.15.0
